/* Buddy hoved */

#hoveddelbuddy img{
    width: 100%;
    border-radius: 15px;
    position: relative;
    text-align: center;
    color: white;
}

#hoveddelbuddy h1 {
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 67px;
}