/* Set a flex container for the "hoveddel" section */
#hoveddel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
}


/* Styles for kanpper */
.button-left {
    background-color: #814D71;
    color: #fff;
    margin-right: 30px;
}

.button-right {
    background-color: #4C5E79;
    color: #fff;
}

.button-left:hover,
.button-right:hover {
    background-color: #fff;
    color: #000;
}

.button-left, .button-right {
    padding: 3px 20px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
}

.tilmeld-knap {
    padding: 3px 20px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: #814D71;
    color: #fff;
}

.tilmeld-knap:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#last-section .tilmeld-knap {
    margin-right: 20px;
}

.find-buddy {
    padding: 3px 20px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: #4C5E79;
    color: #fff;
}
.find-buddy:hover {
    background-color: #000;
    color: #fff;
    order: 1px solid #fff;
}

/* Style for the left side */
.hoveddel-left {
    flex: 1; /* Takes up 50% of the available space */
    padding: 20px;
    text-align: center;
}

h1{
    font-size: 46px;
    color: #fff;
    -webkit-text-stroke: 1px #814D71; 
}

h2 {
    font-size: 34px;
}

.hoveddel-left, p {
    font-size: 26px;
}

/* Style for the right side */
.hoveddel-right {
    flex: 1; /* Takes up 50% of the available space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Style for the images */
.hoveddel-right img {
    width: 45%; /* Adjust the width to make the images square */
    height: 55vh;
    box-shadow:  10px -5px 1px #fff;
    border-radius: 0 10px 10px 0;
    display: block;
}
.hoveddel-right img:first-child {
    border-radius: 10px 0 0 10px;
}

/* CSS to center the content in the middle of the site */
#new-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#new-section p {
    text-align: center;
}

#last-section p {
    text-align: center;
}

.page-text {
    text-align: center;
    padding: 50px;
}

.page-text p {
    text-align: start;
}

/* Centering the h2 and p elements within the welcome-text div */
.page-text h2,
.page-text p {
    margin: 20px 0; /* Remove default margins */
}

section#new-section img {
    width: 25%;
    border-radius: 10px;
    box-shadow: -10px -5px 5px #fff;
    margin-left: 50px;
}

.fingerpointer {
    width: 30%;
}
