/* Generelt Navigations linje */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.img_logo {
    width: 10rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 0 100px 0 50px;
}

/* Menu i midten */
#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    width: 735.5px;
    margin: 50px auto;
    background-color: #4C5E79;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#menu::before, #menu::after {
    content: '';
    display: table;
    clear: both;
}

#menu li {
    float: left;
    box-shadow: 1px 0 0 #444;
    position: relative;
    display: flex;
    justify-content: center;
}

#menu li:last-child {
    box-shadow: none;
}

#menu a {
    float: left;
    padding: 12px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

#menu li:hover > a {
    color: #fafafa;
    background: #262626;
}

#menu ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    background: #262626;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 100%;
    position: absolute;
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    position: relative;
}

#menu ul li:last-child{
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    width: 300px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: uppercase;
}

#menu ul a:hover{
    background-color: #4C5E79;
}

#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child >a::after {
    content: '';
    position: absolute;
    left: 40px;
    top: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
}

#menu ul ul li:first-child a:after {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    left: -6px;
    top: 10px;
    margin-top: 0px;
    margin-left: 0;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #fff;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #fff;
    border-bottom-color: transparent;
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px ;
}

/* Søge Knap */
.search_btn {
    background-color: #4C5E79;
    color: #fff;
    padding: 0.5rem;
    border: 2px solid;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale(0.7) ease;
    margin: 0 100px 0 100px;
}

.search_btn:hover {
    scale: 1.05;

}

.search_btn:active {
    scale: 0.95;
}

/* Responsiv Menu Knap */
.navbar .toogle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toogle_btn {
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background: #814D71;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
}

/* hentet fra google icons */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


/* Farve på aktiv menu side */
.active {
    color: #4C5E79;
}