/* Reset default list styles */
#menu, #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    z-index: 1;
}

/* Style the top-level menu items */
#menu > li {
    display: inline-block;
    position: relative;
    margin-right: 20px; /* Adjust the spacing between menu items */
}

#menu > li > a {
    text-decoration: none;
    color: #858585; /* Text color for top-level items */
}

/* Style the submenus and make them hidden by default */
#menu ul {
    display: none;
    position: absolute;
    background-color: #fff; /* Background color for submenus */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}

#menu li:hover > ul {
    display: block; /* Show submenu on hover */
}

/* Style the submenu items */
#menu ul li {
    display: block;
    white-space: nowrap;
    margin-right: 0;
}

#menu ul li a {
    padding: 10px; /* Adjust the padding as needed */
    display: block;
    text-decoration: none;
    color: #333; /* Text color for submenu items */
}

/* Style the hover effect */
#menu ul li a:hover {
    background-color: #bababa; /* Background color on hover */
}

#menu ul ul {
    top: 0;
    left: 100%;
    position: absolute;
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 1px 0 #666;
    position: relative;
}

#menu ul li:last-child{
    box-shadow: none;
}

#menu > li:hover > a {
    color: #fff;
}

#menu .active {
    color: #4C5E79;
}