/* Hele siden */
* {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    color: #fff;
}

body {
    background-color: #1D1816;
    width: 100%;
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
}


/* Resposiv design */
@media (max-width: 922px) {

    .navbar #menu {
        display: none;
    }

}

@media (max-width: 576px) {

}