/* Hele siden */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    color: #fff;
}

body {
    background-color: #1D1816;
}

p {
    font-family: 'Inter', sans-serif;
}

/* Resposiv design */
@media (max-width: 922px) {

    .navbar #menu {
        display: none;
    }

}

@media (max-width: 576px) {

}