/* Hele siden */
* {
    font-family: 'Bungee', cursive;
    color: #fff;
}

body {
    background-color: #1D1816;
}

p {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}


/* Resposiv design */
@media (max-width: 922px) {

    .navbar #menu {
        display: none;
    }

}

@media (max-width: 576px) {

}